body {
	margin-left: 50px ;
	margin-right: 50px ;
	background: #e6e6e6 ;
	font-family: Arial ;
	width: 960px
	color: #777777 ;
}



#BigMain {
	background: #ffffff ;
	margin-top: 100px ;
	width: 650px ;
	height: 40% ;
}

#Name {
	float: left ;
	color: #ffffff ;
}

#Tabs {
	float: right ;
}

li {
	float: left ;
	margin-left: 15px ;
	list-style: none ;
	bottom: 0 ;
}

#Header {
	top: 0 ;
	position: fixed ;
	width: 80% ;
	background: #ffffff ;
}

#Container {
	margin: 0 auto ;
}

#Side {
	float: right ;
	background: #ffffff ;
}

p {
	
	padding-top: 15px ;
}

img {
	float: left ;
	margin-right: 20px
}

h1 {
	font-family: Georgia ;
	padding-left: 5px ;
	padding-right: 5px ;
}

#BigMain h1 {
	border-bottom: 4px solid #cccccc ;
}

#Name {
	background: #4aaaa5 ;
	 ;
}

ul {
	padding-right: 5px ;
}

#Footer {
	background: #666666 ;
	bottom: 0 ;
	position: fixed ;
	height: 100px ;
	width: 100% ;
	text-align: center ;
	border-top: 10px solid #4aaaa5
}

form {
	height: 100px ;
}

div.gallery:hover {
    border: 1px solid #777;
}

#BigMain form {
	background: #ffffff ;
}

form {
	background: #ffffff ;
}

#Sub {
	background: #ffffff ;

}

.class {
	background: #ffffff ;
}


